.closure-box {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: #666666; }
  .closure-box .headline {
    color: white; }
  .closure-box .button-box {
    max-width: 300px;
    height: 50px;
    margin: 0 auto; }
  .closure-box .centered {
    text-align: center;
    padding-top: 2%; }
  .closure-box .center-button {
    width: 100px;
    margin: 2% 35%;
    text-align: center; }
